services:
  server: 
    build:
      context: .
      dockerfile: php-d
    ports:
      - 81:80
    volumes:
      - "./d-conf/php:/usr/local/etc/php"
      - "./:/var/www/html"
    container_name: PHP-APACHE-CI4-3-4-2
    depends_on:
        - database

  database: 
    image: mysql
    restart: always
    container_name: ERP2
    volumes:
     - "./.mysql:/var/lib/mysql"
    environment:
      MYSQL_ROOT_PASSWORD: ERP2023
      MYSQL_DATABASE: dberp
    command: ['mysqld', '--character-set-server=utf8mb4', '--collation-server=utf8mb4_unicode_ci']

  migration:
    image: liquibase  
    restart: always
    volumes:
      - "./database/liquibase.xml:/liquibase/liquibase.xml:ro"
      - "./database/liquibase.docker.properties:/liquibase/liquibase.properties:ro"
      - "./database/changelogs/:/liquibase/migration/"
    command: >
      bash -c "lpm add mysql --global 
      && tail -f /dev/null"

  phpmyadmin:
    image: phpmyadmin
    restart: always
    container_name: PHP-MY-ADMIN-2
    ports:
      - 8081:80
    environment:
      - PMA_HOST=database
      - PMA_USER=root
      - PMA_PASSWORD=ERP2023
      - PMA_ARBITRARY=1
      - UPLOAD_LIMIT= 300M
    depends_on:
      - database